body {
    background-color: #F2F3F4;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

p {
    padding: 10px 0;
}

.navbar {
    padding: 20px;
    background: #F5B041;
    position: relative;
}

.menulink {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    float: right;
}

.menulink li {
    padding-right: 22px;
    display: inline;
}

.menulink li a {
    text-transform: uppercase;
    text-decoration: none;
}

.container {
    background-color: #fff;
    margin: 40px auto;
    padding: 0 40px;
    width: 1142px;
}

.profile_img_col {
    padding: 40px 0;
    vertical-align: top;
}

.summary_col {
    padding: 40px;
}

.summary_col {
    vertical-align: top;
}

.summary_col h2 {
    padding: 10px 0 20px;
    font-size: 18px;
    font-weight: 600px;
    color: #999;
    text-transform: uppercase;
}

p {
    text-align: justify;
}

h1 {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    color: #999;
    text-transform: uppercase;
}

.summary_col h1 span {
    color: #F5B041;
}

.personal_info td {
    padding: 10px;
}

.personal_info td:first-child {
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

.social_icon {
    font-size: 30px;
    padding: 0 20px;
    color: #F5B041;
}

@media only screen and (max-width: 1000px) {
    .profile_img_col {
        padding-right: 2px;
    }
    .profile_img_col img {
        width: 200px;
        border-radius: 50%
    }
    .summary_col p {
        display: none;
    }
}

.section {
    background-color: #f1f1f1;
    padding: 40px;
    margin-bottom: 20px;
}

.section h3 {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.section h4 {
    margin: 40px 0 0;
    color: #333;
    font-size: 24px;
}

.section .subtext {
    font-size: 18px;
    color: #999;
    padding-bottom: 40px;
    font-family: Verdana, sans-serif
}

.skill_progressbar h6 {
    margin: 20px 0 3px;
    font-size: 18px;
    color: #666;
    font-weight: 300;
}

.progress-bar {
    background-color: #fff;
    height: 35px;
    width: 90%;
    line-height: 35px;
    vertical-align: middle;
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    text-align: right;
    padding-right: 10px;
    color: #fff;
}

.orange span {
    background-color: #fecf23;
    background-image: linear-gradient(top, #fecf23, #fd9215);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

.flex-container div {
    padding: 0 20px 20px 0px;
}

figure {
    text-align: center;
    background: #fff;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

figcaption {
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    padding: 20px 0 4px;
    color: #333;
    text-transform: uppercase;
}

figure span {
    color: #999;
    font-size: 14px;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    margin-top: 102px;
}